.main-nav {
    background-color: #50C878;
}

.bg-emerald {
    background-color: #50C878 !important;
}

.white-text {
    color: white;
}

.white-text:hover {
    color: black;
}

.main-footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #50C878;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    padding: 20px;
}

.main-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-home {
    float: left;
    width: 100%;
    padding: 20px;
}

.right-home {
    float: right;
    width: 100%;
}