.main-nav {
    background-color: #50C878;
}

.bg-emerald {
    background-color: #50C878 !important;
}

.white-text {
    color: white;
}

.white-text:hover {
    color: black;
}

.main-footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #50C878;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    padding: 20px;
}

.main-content {
    padding: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-home {
    float: left;
    width: 100%;
    padding: 20px;
    background-image: url("../images/home-img.png");
    background-position: center;
    background-size: cover;
}

.right-home {
    float: right;
    width: 100%;
    padding: 40px;
}

.right-login {
    float: right;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../images/login-img.png");
    background-position: center;
    background-size: cover;
}

.right-registration {
    float: right;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../images/registration-img.png");
    background-position: center;
    background-size: cover;
}

.left-login {
    float: left;
    width: 100%;
    padding: 40px;
}

.block-label {
    display: block;
}

.registration-form {
    padding: 20px;
}

.quote-text {
    font-size: 32px;
    margin-top: 60px;
    text-align: center;
    align-items: end;
    
}

.quote-text-registration {
    font-size: 32px;
    margin-top: 30px;
    text-align: center;
    align-items: end;
    
}

.contact-main-content {
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    text-align: center;
}

.contact-right-form {
    width: 50%;
    float: right;
}

.contact-left-cta {
    width: 50%;
    float: left;
    background-size: cover;
    padding: 10px;
}

.tall-textarea {
    height: 100px;
    padding: 4px;
}

.patients-box, .apps-box, .schedule-box, .tiers-box,
.prescriptions-box, .settings-box {
    height: 30vh;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 1px groove #50C878;
    padding: 80px;
}

.patients-box {
    background-image: url("../images/patients-img.jpg");
    background-position: center;
    background-size: cover;
}

.apps-box {
    background-image: url("../images/appointments-img.png");
    background-position: center;
    background-size: cover;
}

.schedule-box {
    background-image: url("../images/schedule-img.png");
    background-position: center;
    background-size: cover;
}

.tiers-box {
    background-image: url("../images/tiers-img.png");
    background-position: center;
    background-size: cover;
}

.prescriptions-box {
    background-image: url("../images/prescriptions-img.png");
    background-position: center;
    background-size: cover;
}

.settings-box {
    background-image: url("../images/settings-img.png");
    background-position: center;
    background-size: cover;
}

.box-text {
    color: black;
    border: 2px solid black;
    background-color: none;
    padding: 12px;
    border-radius: 12px;
    opacity: 1;
}

.box-text:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: black;
    transition: 0.5s ease-in-out;
}

.top-nav-patients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.table-container {
    margin: 0px 20px;
}

.empty-state-patients, .empty-state-tiers, .empty-state-appointments, .empty-state-prescriptions {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 120px;
    margin-left: 180px;
}

.patient-form-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-patient-form {
    float: left;
    padding: 10px;
}

.right-patient-form {
    float: right;
    padding: 10px;
}

.patient-form-end {
    float: left;
    padding: 10px;
}

.patient-form-far-right {
    float: right;
    padding: 10px;
}

.patient-submit-btn {
    margin-top: 24px;
}

.patient-container {
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.actions-cell {
    display: flex; 
    flex-direction: row; 
    flex-grow: 1;
}

.delete-btn {
    display: inline; 
    border: none; 
    background-color: none;
    color: red;
}

.patient-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px;
}

.top-nav-patient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-nav-edit-patient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.back-from-edit-patient-btn {
    margin-right: 20px;
}

.back-from-view-patient-btn {
    margin-left: 120px;
}