{% extends 'layout.html' %}

{% block content %}
<div class="appointment-container">
  <div class="top-nav-appointment">
    <h4>Create a Tier</h4>
    <a href="/appointments" class="button success">Back to Tiers</a>
  </div>
  
  <form method="POST" action="{{ url_for('create_tier') }}">
    {{ form.hidden_tag() }}
    <div class="tier-form-contents">
      <div class="tier-left-form">
      <div class="form-group">
        {{ form.frequency.label }} {{ form.frequency(class="form-control", placeholder="Weekly, Every 2 days etc.") }}
        {% for error in form.frequency.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.treatment_period.label }} {{ form.treatment_period(class="form-control") }}
        {% for error in form.treatment_period.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.start_date.label }} {{ form.start_date(class="form-control") }}
        {% for error in form.start_date.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      </div>
      <div class="tier-right-form">
      <div class="form-group">
        {{ form.end_date.label }} {{ form.end_date(class="form-control") }}
        {% for error in form.end_date.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.assigned_patient_id.label }} {{ form.assigned_patient_id(class="form-control") }}
        {% for error in form.assigned_patient_id.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.medical_practitioner_id.label }} {{ form.medical_practitioner_id(class="form-control", value=current_user.id) }}
        {% for error in form.medical_practitioner_id.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    </div>
    <div class="form-group">
      {{ form.submit(class="button success appointment-submit-btn") }}
    </div>
  </form>
</div>
{% endblock %}
