{% extends 'layout.html' %}

{% block content %}
  <div class="patient-container">
  <h4>Add a Patient</h4>
  <form method="POST" action="{{ url_for('create_patient') }}">
    {{ form.hidden_tag() }}
    <div class="patient-form-contents">
    <div class="left-patient-form">
    <div class="form-group">
      {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
      {% for error in form.first_name.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <!-- Add the other form fields here -->
    <div class="form-group">
        {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
        {% for error in form.last_name.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.date_of_birth.label }} {{ form.date_of_birth(class="form-control") }}
        {% for error in form.date_of_birth.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.gender.label }} {{ form.gender(class="form-control") }}
        {% for error in form.gender.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.national_id_number.label }} {{ form.national_id_number(class="form-control") }}
        {% for error in form.national_id_number.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
    <div class="right-patient-form">
    <div class="form-group">
        {{ form.address.label }} {{ form.address(class="form-control") }}
        {% for error in form.address.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.phone_number.label }} {{ form.phone_number(class="form-control") }}
        {% for error in form.phone_number.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.emergency_contact_name.label }} {{ form.emergency_contact_name(class="form-control") }}
        {% for error in form.emergency_contact_name.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    
    <div class="form-group">
        {{ form.emergency_contact_number.label }} {{ form.emergency_contact_number(class="form-control") }}
        {% for error in form.emergency_contact_number.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
    <div class="patient-form-end">
    
    <div class="form-group">
        {{ form.insurance_provider.label }} {{ form.insurance_provider(class="form-control") }}
        {% for error in form.insurance_provider.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.insurance_policy_number.label }} {{ form.insurance_policy_number(class="form-control") }}
        {% for error in form.insurance_policy_number.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.primary_care_physician.label }} {{ form.primary_care_physician(class="form-control") }}
        {% for error in form.primary_care_physician.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.allergies.label }} {{ form.allergies(class="form-control") }}
        {% for error in form.allergies.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
    <div class="patient-form-far-right">
    <div class="form-group">
        {{ form.medications.label }} {{ form.medications(class="form-control") }}
        {% for error in form.medications.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.medical_conditions.label }} {{ form.medical_conditions(class="form-control") }}
        {% for error in form.medical_conditions.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.surgeries.label }} {{ form.surgeries(class="form-control") }}
        {% for error in form.surgeries.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class="button success patient-submit-btn") }}
      </div>
    </div>
    </div>
    
    </div>
    </div>

  </form>
</div>
{% endblock %}