{% extends 'layout.html' %}

{% block content %}
  <div class="patient-container">
  <h4>Add a Prescription</h4>
  <form method="POST" action="{{ url_for('create_prescription') }}">
    {{ form.hidden_tag() }}
    <div class="patient-form-contents" style="">
    <div class="left-patient-form">
    <div class="form-group">
      {{ form.patient_id.label }}
      <select class="form-control" name="patient_id">
        {% for patient in patients %}
          <option value="{{ patient.id }}">{{ patient.email }}</option>
        {% endfor %}
      </select>
      {% for error in form.patient_id.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <!-- Add the other form fields here -->
    <div class="form-group">
        {{ form.medication.label }} {{ form.medication(class="form-control") }}
        {% for error in form.medication.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.dosage.label }} {{ form.dosage(class="form-control") }}
        {% for error in form.dosage.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="right-patient-form">
    <div class="form-group">
        {{ form.instructions.label }} {{ form.instructions(class="form-control") }}
        {% for error in form.instructions.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.date_prescribed.label }} {{ form.date_prescribed(class="form-control") }}
        {% for error in form.date_prescribed.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.prescribing_physician.label }} {{ form.prescribing_physician(class="form-control", value=current_user.id) }}
        {% for error in form.prescribing_physician.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
    
    <div class="form-group">
        {{ form.submit(class="button success patient-submit-btn") }}
    </div>
    </div>
    </div>
    
    </div>
    </div>

  </form>
</div>
{% endblock %}
