{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <br>
    <div class="grid-x grid-padding-x"> <!-- Aligned to the left -->
        <div class="cell large-4 patients-box">
            <a class="box-text" href="/patients">Patients</a>
        </div>
        <div class="cell large-4 apps-box">
            <a class="box-text" href="/appointments">Appointments</a>
        </div>
        <div class="cell large-4 schedule-box">
            <a class="box-text" href="/schedule">Schedule</a>
        </div>
      </div>
      <div class="grid-x grid-padding-x"> <!-- Aligned to the right -->
        <div class="cell large-4 tiers-box">
            <a class="box-text" href="/tiers">Tiers</a>
        </div>
        <div class="cell large-4 notifications-box">
            <a class="box-text" href="/notifications">Notifications</a>
        </div>
        <div class="cell large-4 settings-box">
            <a class="box-text" href="/settings">Settings</a>
        </div>
      </div>
</div>
{% endblock %}