{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
    <div class="left-home">
        <p class="lead">
            Introducing <strong>HippoHealth</strong>, the groundbreaking healthcare platform that puts your well-being first. With our state-of-the-art technology and user-friendly interface, we empower individuals to take control of their health like never before. From seamless appointment scheduling and personalized health insights to virtual consultations with top-notch medical professionals, HippoHealth revolutionizes the way you access and manage your healthcare. Say goodbye to long wait times and hello to convenience, efficiency, and quality care. Join HippoHealth today and experience a new era of personalized and accessible healthcare at your fingertips.
        </p>
    </div>
    <div class="right-home">
        <div class="row">
            <div class="column medium-6">
              <h3 class="h3 lead">Get Started</h3>
              <form class="registration-form" method="POST" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <div>
                    <label for="username">Username</label>
                </div>
                <div class="input-group">
                  {{ form.username(class="input-field", placeholder="Enter your username") }}
                  {% for error in form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
                <div>
                    <label for="password">Password</label>
                </div>
                <div class="input-group">
                  {{ form.password(class="input-field", placeholder="Enter your password") }}
                  {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
                <button type="submit" class="button success">Register</button>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}