{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
    <div class="left-home">
        <p class="lead">
            Introducing <strong>HippoHealth</strong>, the groundbreaking healthcare platform that puts your well-being first. With our state-of-the-art technology and user-friendly interface, we empower individuals to take control of their health like never before. From seamless appointment scheduling and personalized health insights to virtual consultations with top-notch medical professionals, HippoHealth revolutionizes the way you access and manage your healthcare. Say goodbye to long wait times and hello to convenience, efficiency, and quality care. Join HippoHealth today and experience a new era of personalized and accessible healthcare at your fingertips.
        </p>
    </div>
    <div class="right-home">

    </div>
</div>
{% endblock %}