{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
    <div class="left-login">
        <div class="row">
            <div class="column medium-6">
              <h3 class="h3 lead">Sign in</h3>
              <form class="registration-form" method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div>
                    <label for="username">Username</label>
                </div>
                <div class="input-group">
                  {{ form.username(class="input-field", placeholder="Enter your username") }}
                  {% for error in form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
                <div>
                    <label for="password">Password</label>
                </div>
                <div class="input-group">
                  {{ form.password(class="input-field", placeholder="Enter your password") }}
                  {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
                <button type="submit" class="button success">Login</button>
              </form>
            </div>
          </div>
    </div>
    <div class="right-login">
        <p class="lead quote-text">
            Health is a matter of choice, not a mystery of chance.
            <br>
            <br>
            - <strong>Aristotle</strong>
        </p>
    </div>
</div>
{% endblock %}