{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
  <div class="container" style="width: 100%">
    <div class="top-nav-patient">
      <h4>Patient Details</h4>
      <a class="button success back-from-view-patient-btn" href="{{ url_for('patients')}}">Back to Patients</a>
    </div>
    
    <div class="card patient-card">
        <div class="card-section">
            <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
            <p><strong>Date of Birth:</strong> {{ patient.date_of_birth }}</p>
            <p><strong>Gender:</strong> {{ patient.gender }}</p>
            <p><strong>National ID Number:</strong> {{ patient.national_id_number }}</p>
            <p><strong>Address:</strong> {{ patient.address }}</p>
            <p><strong>Phone Number:</strong> {{ patient.phone_number }}</p>
            <p><strong>Email:</strong> {{ patient.email }}</p>
        </div>
        <div class="card-section">
          <p><strong>Emergency Contact Name:</strong> {{ patient.emergency_contact_name }}</p>
          <p><strong>Emergency Contact Number:</strong> {{ patient.emergency_contact_number }}</p>
          <p><strong>Insurance Provider:</strong> {{ patient.insurance_provider }}</p>
          <p><strong>Insurance Policy Number:</strong> {{ patient.insurance_policy_number }}</p>
          <p><strong>Primary Care Physician:</strong> {{ patient.primary_care_physician }}</p>
          <p><strong>Allergies:</strong> {{ patient.allergies }}</p>
        </div>
        <div class="card-section">
          <p><strong>Medications:</strong> {{ patient.medications }}</p>
          <p><strong>Medical Conditions:</strong> {{ patient.medical_conditions }}</p>
          <p><strong>Surgeries:</strong> {{ patient.surgeries }}</p>
        </div>
    </div>
</div>
</div>
{% endblock %}