{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
{% if prescriptions|length > 0 %}
        <div class="top-nav-prescriptions">
            <h4 class="h4 lead">
                Prescriptions
            </h4>
            <button class="button success">
                Add a Prescription
            </button>
        </div>
        </div>
        <div class="table-container">
            <table>
              <thead>
                <tr>
                    <th>Medication</th>
                    <th>Dosage</th>
                    <th>Instructions</th>
                    <th>Date Prescribed</th>
                    <th>Prescribing Physician</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for prescription in prescriptions %}
                    <tr>
                        <td>{{ prescription.medication }}</td>
                        <td>{{ prescription.dosage }}</td>
                        <td>{{ prescription.instructions }}</td>
                        <td>{{ prescription.date_prescribed }}</td>
                        <td>{{ prescription.prescribing_physician }}</td>
                        <td class="actions-cell">
                            <a href="{{ url_for('edit_prescription', prescription_id=prescription.id) }}"><i class="fi-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <form method="post" action="{{ url_for('delete_prescription', prescription_id=prescription.id) }}"><button type="submit" class="delete-btn"><i class="fi-trash"></i></button></form>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('view_prescription', prescription_id=prescription.id) }}"><i class="fi-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
{% else %}
        <div class="empty-state-prescriptions">
            <h1>You have not created any Prescriptions</h1>
            <a class="button success" href="/create_prescription">Create your first Prescription</a>
        </div>
{% endif %}
{% endblock %}
