{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
{% if current_user.schedule|length > 0 %}
        <div class="top-nav-appointments">
            <h4 class="h4 lead">
                Your Schedule
            </h4>
            <button class="button success">
                Add an Appointment
            </button>
        </div>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for session in current_user.schedule %}
                    <tr>
                    <td>{{ session.patient.first_name }} {{ session.patient.last_name }}</td>
                    <td>{{ session.appointment_date }}</td>
                    <td>{{ session.appointment_type }}</td>
                    <td>{{ session.notes }}</td>
                    <td class="actions-cell">
                        <a href="{{ url_for('edit_appointment', appointment_id=appointment.id) }}"><i class="fi-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <form method="post" action="{{ url_for('delete_appointment', appointment_id=appointment.id) }}"><button type="submit" class="delete-btn"><i class="fi-trash"></i></button></form>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ url_for('view_appointment', appointment_id=appointment.id) }}"><i class="fi-eye"></i></a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
        <div class="empty-state-appointments">
            <h1>You have no Appointments</h1>
            <a class="button success" href="/create_appointment">Create your first Appointment</a>
        </div>
{% endif %}
{% endblock %}
