{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
{% if tiers|length > 0 %}
        <div class="top-nav-tiers">
            <h4 class="h4 lead">
                Tiers
            </h4>
            <button class="button success">
                Add a Tier
            </button>
        </div>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Frequency</th>
                    <th>Treatment Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Assigned Patient</th>
                    <th>Medical Practitioner</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tier in tiers %}
                    <tr>
                    <td>{{ tier.frequency }}</td>
                    <td>{{ tier.treatment_period }}</td>
                    <td>{{ tier.start_date }}</td>
                    <td>{{ tier.end_date }}</td>
                    <td>{{ tier.assigned_patient.first_name }} {{ tier.assigned_patient.last_name }}</td>
                    <td>{{ tier.medical_practitioner.name }}</td>
                    <td class="actions-cell">
                        <a href="{{ url_for('edit_tier', tier_id=tier.id) }}"><i class="fi-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <form method="post" action="{{ url_for('delete_tier', tier_id=tier.id) }}"><button type="submit" class="delete-btn"><i class="fi-trash"></i></button></form>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ url_for('view_tier', tier_id=tier.id) }}"><i class="fi-eye"></i></a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
        <div class="empty-state-tiers">
            <h1>You have not Added any Tiers</h1>
            <a class="button success" href="/create_tier">Create your first Tier</a>
        </div>
{% endif %}
{% endblock %}
